# General
*.lst
*.orig
*.mine
*.mymetadata
ignoreme.txt
*.log
*.gz
*.zip
*.jar
.bitmap

# Linux
Session.vim

# OS X
.DS_Store

# Maven
target/
generated/
dependency-reduced-pom.xml

# Eclipse
classes/
eclipse-classes/
.classpath
.project
.settings/

# Intellij
.idea/
*.swp
*.iml
*.iws
*.ipr
atlassian-ide-plugin.xml

# VS Code
*.code-workspace
.factorypath

# Sublime
*.sublime-project
*.sublime-workspace

# Node
node_modules/
build/
dist/
yarn.lock
package-lock.json

# Ignore test-related files
/coverage.data
/coverage/
